* {
    border: 2px red solid;
}

body {
    background-color: #ffffff;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: 'roboto', arial;
}

.container {
    display:flex;
    flex-direction: column;
}

.navbar {
    display:flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px 0px 20px 100px;
    align-items:center;
}

.header-logo img {
    width: 84px ;
    height: 84px ;
    margin-right: auto;
}

.header-link {
    display:flex;
    margin-left:auto;
    padding: 0px 100px 0px 0px;
}

.header link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    font-family: 'roboto', Arial;
}

.hero {
    display:flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;

}

.hero-cta {
    flex-basis: 400px;
    display:flex;
    flex-direction:column;
    text-align:left;
    margin-right:50px;
}

.hero-cta p {
    font-family: 'roboto', arial;
    opacity: 0.7;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    font-family: 'roboto', arial;
}

.hero button  {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: blue;
    padding: 10px;
    border-radius: 8px;
    color: whitesmoke;
    font-family: 'roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

/* Content stuff */

.content {
    align-items:center;
    
}


.content-info img {
    width: 200px;
    height: 200px;
    object-fit:cover;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    
}

.container-two {
    display: flex;
    flex-direction: row;
    justify-content:center;

    

}

/* Quote stuff */

.quote {
    display:flex;
    flex-direction:column;
    background-color: rgb(155, 149, 149);
    padding: 0px 200px;

}

.quote p {
    font-size: 36px;
    color: rgb(73, 71, 73);
    font-style: italic;
    font-weight: lighter;
    font-family: 'roboto', arial;

}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
    font-family: 'roboto', arial;

}

/* Sign up stuff */

.sign-up {
    background-color: blue;
    margin: 50px 200px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-color: none;

}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #ffffff;
    opacity: .7;
    margin: 5px 30px 30px 50px;
}

h3 {
    font-family: 'roboto', arial;
    color: #ffffff;
    padding: 0;
    margin: 30px 0 0 50px;
}

button {
    font-family: 'roboto', arial;
    color: #ffffff;
    background-color: #1f2937;
    border-color: blue;
    border-radius: 8px;
    padding: 5px 25px;
    font-size: 15px;
}

/* Footer stuff */

.footer {
    font-family: 'roboto', arial;
    background-color: #1f2937;
    color: white;
    padding: 10px 10px;
}